
.container {
   display: flex;
   flex-direction: column;
   width: 500px;
   height: 490px;
   border: solid 1px #000000;
   display: flex;
   align-items: center;
   border-radius: 7%;
   box-shadow: 5px 5px 20px 3px rgba(0, 0, 0, 0.2);
   background-color: white
   ;
}

h1 {
   margin: 30px 0 0 0;
   font-size: 50px;
}


.imput_div {
   height: fit-content;
   margin: 15px 0 20px 0;

}

.password_imput--box {
   display: flex;
   flex-direction: row;
   align-items: center;

}

.password_imput--button {
background: none;
margin: 8.5px 0 0 -38px;
}

svg {
   height: 30px;
   width: 30px;
   color: white;
}



h2 {
   font-size: 22px;
   margin: 0 0 0 13px;
}

.imput {
   width: 400px;
   height: 35px;
   border: solid 1px #000000;
   margin: 5px 0 0 0;
   border-radius: 20px;
   padding: 0 0px 0 15px;
}

.button_div {
   margin: 10px 0 0 0;
}

.button {
   width: 120px;
   height: 50px;
   border: 1px solid #000000;
   border-radius: 20px;
   font-size: 20px;
   transition: 0.2s;
   background-color: #ffff;
}

.button:first-child {
   margin: 0 30px 0 0;
}

.button:hover {
   color: #ffff;
   background-color: #000000;
}

.signin_box{
   display: flex;
   flex-direction: column;
   margin: 5px 0 0 0;
   align-items: center;
   justify-content: center;
}

h3{
   font-size: 13px;
}

.signin_button{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 70px;
   height: 23px;
   margin: 10px 0 0 0;
   border: 1px solid #000000;
   border-radius: 15px;
   font-size: 13px;
   transition: 0.2s;
}
.signin_button:hover{
   color: #ffff;
   background-color: #000000;
}