@font-face {
    font-family: CoolFont;
    src: url(LoveYaLikeASister-Regular.ttf);
}
@font-face {
    font-family: MainFont;
    src: url(JosefinSlab-Italic-VariableFont_wght.ttf);
}

body {
    font-family: Arial, sans-serif;
}


h1{
    font-family: CoolFont;
    font-size: 4em;
    text-align: center;
}

.search-container {
    text-align: center;
    margin-top: 25px;
}
th {
    font-family: MainFont;
    font-size: 24px;
}

.container{
    margin-top: 250px;
}
.search-box {
    width: 500px;
    padding: 10px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    outline-width: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-button {
    background-color: #f8f9fa;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    padding: 12px 24px;
    margin-top: 15px;
    cursor: pointer;
}

.search-button:hover {
    transition: 1s ease-in-out;
    background: rgb(128, 255, 177);
}

.back-button {
    background-color: #f8f9fa;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    padding: 12px 24px;
    margin-top: 15px;
    cursor: pointer;
}

.back-button:hover {
    transition: 1s ease-in-out;
    background: rgb(255, 151, 128);
}

